<!-- メイン画面を表示する。 -->
<div class="row" style="padding-bottom:20px;">
  <div class="col-md-8">
    <%= render "layouts/postList", boards: @boards_like, types:"like"%>
    <hr>
    <%= paginate @boards_like %>  
  </div> 
  <!-- 画面の右側リスト表示 --> 
  <%= render "layouts/menu" %>
</div>
