<div class="container" style="background-color:#ffffff;">
<h3>About</h3>
<hr>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header" align="center">
          <div class="profile">
            <%= image_tag "img_inoshishi_1.jpg", class:"center img-rounded" %>
          </div>
        </div>
        <div class="card-body"> 名前：金　東珍 (KIM DONGJIN)</div> 
        <div class="card-footer">Footer</div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header" align="center">
          <div class="profile">
            <%= image_tag "pig1.jpg", class:"center img-rounded" %>
          </div>
        </div>
        <div class="card-body"> 名前：張　侑民 (JANG YUMIN)</div> 
        <div class="card-footer">Footer</div>
      </div>
    </div>
  </div>
  </div>

