<h3>About <span class="label label-default">New</span></h3>
<hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="center">
        <%= image_tag "img_inoshishi_1.jpg", class:"center img-rounded" %>
      </div>
      <div class="well well-lg">
        名前：金　東珍 (KIM DONGJIN)
        <br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="center" >
        <%= image_tag "pig1.jpg", class:"center img-rounded" %>
      </div>
      <div class="well well-lg">
        名前：張　侑民 (JANG YUMIN)
      </div>    
    </div>
  </div>

