.ajax_loading{
    display: none; 
    height: 100%;
    width: 100%;
    z-index: 1000;
    #ajax_image{
        top :  50%; 
        left :  50%; 
        transform :  translate ( -50%,  -50%);
        position: fixed;
    }    
}
