<!--修正画面-->
<section class="main_contents">
    <div class="container container-large">
        <h2>ポスト修正</h2>
        <hr>
    </div>
</section> 
<!--入力フォームを呼び出す。-->
<%= render 'form', board: @board %>
<br>
