<section class="main_contents">
    <div class="container container-large">
        <h3><span class="badge badge-secondary">Edit</span>スレッド修正</h3>
        <hr>
    </div>
</section> 
<%= render 'form', board: @board %>
<br>
