<section class="main_contents">
<div class="container container-large">
  <div class="row">
    <%= render "layouts/search" %>
    <div class="col-lg-9">
      <% if @boards.count == 0 %>
        <h4>作成されているスレッドがありません。</h4>
      <% else %>
        <div id="article">
          <%= render 'article' %>
        </div>
        <%= link_to_next_page @boards, 'もっと見る', remote: true, id: 'more_link', class:"btn btn-dark btn-block"%>
      <% end %>
    </div>
    <%= render "layouts/menu" %>
  </div>
</div>
</section>

