<% breadcrumb :boards %>
<!--一覧表示画面-->
<div class="row">
    <div class="col-md-8">
      <!--データ件数が0件の場合-->
      <% if @boards.count == 0 %>
        <h4>作成されているスレッドがありません。</h4>
      <% else %>
        <div id="article">
          <!--データリスト部を表示する。-->
          <h3><%= @title %></h3>
          <br>
			    <%= render "article", boards: @boards %>
        </div>
        <!--もっと見るボタン-->
        <%= link_to_next_page @boards, 'もっと見る', remote: true, id: 'more_link' %>
      <% end %>
    </div>
    <!--右側リスト-->
    <%= render "layouts/menu" %>
</div>
