<section class="main_contents">
<% breadcrumb :board_new, @board %>
    <div class="container container-large">
        <h3><span class="badge badge-secondary">New</span>スレッド作成</h3>
        <hr>
    </div>
</section>    
<%= render 'form', board: @board %>
<br>
