<h3><span class="label label-default">New</span>スレッド作成</h3>
<hr>
<%= render 'form', board: @board %>
<%= link_to(boards_path) do %>
    <button type="button" class="btn btn-info" style="float:left;margin-bottom: 20px;">戻る</button>
<% end %>