<% breadcrumb :about %>
<div class="row">
    <div class="col-lg-12 col-md-12 mx-auto"　>
        <div class="blog_intro" style="text-align:center;">
            <h1 style='font-weight:900;'>ブログについて</h1>
            <hr>
            <p>はじめまして！</p>
            <p>Rubyの勉強を目的でRailsのWeb開発を始め、ブログをリリースすることになりました。</p>
            <p>お仕事をしながらブログを制作していたため、色々大変でしたが、</p>
            <p>リリースまで成功したことで、今はすごくやりがいを感じています。</p>
            <p>ブログの主目的は'情報共有'です。</p>
            <p>日ごとに早い速度で変化している技術、特にIT領域は新しい技術に追い付くことが難しい領域だと考えています。</p>
            <p>このブログを通じて、ITの知識と動向について皆さんと共有できる場になればと思います。</p>
            <p>料理、旅行、日常生活、韓国文化についてもポストに投稿する予定です。</p>
            <p>ご不明な点がございましたら、画面の下にある「Contact Us」というお問い合わせフォームにメッセージを送信してください。</p>
            <p>ご質問など、いつでも歓迎します。</p>
            <p>ブログの問題点と障害などもありましたら、ご連絡をお願いいたします。</p>
            <p>では、ブログをお楽しみください！</p>
        </div>
        <br><br>
    </div>
    <div class="col-lg-12 col-md-12 mx-auto"　>
        <h1 style="text-align:center;">Profile</h1>
        <hr>
    </div>
    <div class="col-lg-6 col-md-10 mx-auto">
        <div class="card">
            <div class="box">
                <div class="img">
                    <%=image_tag("Kim_Dongjin.png", style:"min-height:auto;")%>
                </div>
                <h2>Kim Dongjin<br><span style="background:#007bff;">Web Programer</span></h2>
                <h2>経歴</h2>
                <p>電力パッケージシステム開発</p>
                <p>宅急便送り状発行システム開発</p>
                <p>Pig&Boar Blog 開発</p>
                <h2>プログラム言語</h2>
                <p>java,Jquery,ruby</p>
                <span>
                    <ul>
                    <li><a href="javascript:window.open('https://www.facebook.com/kimdongjin2')"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:window.open('https://twitter.com/inoshishi30')"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:window.open('https://plus.google.com/109400383928994891321')"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:window.open('https://github.com/kimdj2')"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                </span>
                <p style="color:#212529"><i class="fa fa fa-envelope"></i><%= mail_to("1222kdj@gmail.com","1222kdj@gmail.com") %></p>
            </div>
        </div>        
    </div>
    <div class="col-lg-6 col-md-10 mx-auto">
        <div class="card">
            <div class="box">
                <div class="img">
                    <%=image_tag("Jang_Yumin.png", style:"min-height:auto;")%>
                </div>
                <h2>Jang Yumin<br><span>Web Programer</span></h2>
                <h2>経歴</h2>
                <p></p>
                <p>建設資材管理システム開発</p>
                <p>保険業務システム開発</p>
                <p>&nbsp;</p>
                <h2>プログラム言語</h2>
                <p>java,C#</p>
                <span>
                    <ul>
                    <li><a href="javascript:window.open('https://www.facebook.com/kimdongjin2')"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:window.open('https://twitter.com/inoshishi30')"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:window.open('https://plus.google.com/109400383928994891321')"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:window.open('https://github.com/kimdj2')"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                </span>
                <p style="color:#212529"><i class="fa fa fa-envelope"></i><%= mail_to("creamywhiterabbit@gmail.com","creamywhiterabbit@gmail.com") %></p>
            </div>
        </div>
    </div>
</div>
