/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "codemirror";
@import "summernote-bs4";
@import "comments";
@import "social-share-button";
@import "bootstrap-tagsinput.css";
@import "summernote-custom-theme.min";
@import "codemirror/themes/solarized";
@import "bootstrap-social";
@import "layout/global.scss";
@import "layout/navbar.scss";
@import "layout/masthead.scss";
@import "layout/post.scss";
@import "layout/contact.scss";
@import "layout/ajaxloading";
@import "layout/bootstrap-overrides.scss";
@import "layout/main.scss";
@import "layout/responsive.scss";
.container-small,
.container-large {
    max-width: 100%;
}

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }

    .container-large {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }

    .container-large {
        width: 1170px;
    }
}

@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }

    .container-large {
        width: 1300px;
    }
}
