// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body img{
    max-width : 100%;
    max-height : 100%;
}
.board_title{
    margin-top : 10px;
    margin-left : 10px;
}
.board_date{
    float:left;
    margin-left : 15px;
}
.board_username{
    float:right;
    margin-right : 10px;
}
input.follow_submit {
    @extend .btn !optional;
    @extend .btn-large !optional;
    @extend .btn-primary !optional;
    float:right;
    margin-bottom: 20px;
}
.google_map {
    float:right;
}