// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body img{
    max-width : 100%;
    max-height : 100%;
}
.board_title{
    margin-top : 10px;
}
.board_date{
    float: right;
    margin-right : 10px;
}
.board_username{
    float:right;
    margin-right : 10px;
}
input.follow_submit {
    @extend .btn !optional;
    @extend .btn-large !optional;
    @extend .btn-primary !optional;
    float:right;
    margin-bottom: 20px;
}
.google_map {
    float:right;
}
.bootstrap-tagsinput {
    width: 100% !important;
}
.content_title {
    position: relative;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
    margin-bottom:5px;
}
.content_title::before {
    position: absolute;
    left: -6px;
    bottom: 0;
    content: '';
    width: 6px;
    height: 50%;
    background-color: #343a40;
}
.content_title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 1px solid #ccc;
}
h2.show_title{
	position: relative;
	overflow: hidden;
	padding-bottom: 5px;
	font-weight: 700;
	 /* Extra small devices (phones, up to 480px) */
	 @media screen and (max-width: 767px) {
		font-size:1.25rem;
	  }
	  /* Small devices (tablets, 768px and up) */
	  @media (min-width: 768px) and (max-width: 991px) {
		font-size:1.25rem;
	  }
	  /* tablets/desktops and up ----------- */
	  @media (min-width: 992px) and (max-width: 1199px) {
		font-size:2rem;
	  }
	  /* large desktops and up ----------- */
	  @media screen and (min-width: 1200px) {
		font-size:2rem;
	  }
}
h2.show_title::before,
h2.show_title::after{
	content: "";
	position: absolute;
	bottom: 0;
}
h2.show_title:before{
	border-bottom: 3px solid #343a40;
	width: 100%;
}
h2.show_title:after{
	border-bottom: 3px solid #D8D8D8;
	width: 100%;
}
.cp_ribbon08 {
	line-height: 50px;
	position: absolute;
	top: -25px;
	left: -8px;
	width: 150px;
	height: 50px;
	padding-left: 15px;
	color: #ffffff;
	background: #343a40;
}
.cp_ribbon08:before, .cp_ribbon08:after {
	position: absolute;
	content: '';
}
.cp_ribbon08:before {
	top: 50px;
	left: 0.1px;
	width: 0;
	height: 0;
	border-top: 9px solid #000000;
	border-left: 9px solid transparent;
}
.cp_ribbon08:after {
	right: -14.5px;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 15px solid #343a40;
}
.cp_ribbon09 {
	line-height: 50px;
	position: absolute;
	top: -5.5px;
	right: -8px;
	width: 150px;
	height: 50px;
	padding-left: 15px;
	color: #ffffff;
	background: #343a40;
}
.cp_ribbon09:before, .cp_ribbon08:after {
	position: absolute;
	content: '';
}
.cp_ribbon09:before {
	top: 50px;
	right: 0.1px;
	width: 0;
	height: 0;
	border-top: 9px solid #000000;
	border-right: 9px solid transparent;
}
.cp_ribbon09:after {
	right: -14.5px;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-right: 15px solid #343a40;
}