// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.profile {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    overflow: hidden;
    width: 250px;
    /* トリミングしたい枠の幅 */
    height: 250px;
    /* トリミングしたい枠の高さ */
    position: relative;
    padding: 0 !important;
}

.profile img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}