// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

#main_title {
    width: 100%;
    //margin-left : 0px;
    //margin-right: 0px;
    position: absolute;
    //top:50%;
    //left:50%;
    background: #ddd url(asset-path('2.jpg')) no-repeat center center;
    background-size: cover;
    //transform:translate(-50%,-50%);

    //margin-top:100px;
    //opacity: 0.3;
    //transition: margin-top 0.3s;
}


#title {
    width: 100%;
    margin: -19px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    padding-top: 19px;
    border: 0;
}

#menu_slide {
    float: right;
    height: 100%;
    width: auto;
    position: relative;
    margin: 2px;
    margin-bottom: 4px;
}

.menu_hr {
    border: 1px solid #666;
}

#page-top {
    position: fixed;
    right: 15px;

    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 767px) {
        font-size: 0.75rem;
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 0.75rem;
    }

    /* tablets/desktops and up ----------- */
    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 1rem;
    }

    /* large desktops and up ----------- */
    @media screen and (min-width: 1200px) {
        font-size: 1rem;
    }
}

#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 80px;
    padding: 15px 0;
    text-align: center;
    display: block;
    border-radius: 10px;
}

#page-top a:hover {
    text-decoration: none;
    background: #999;
}

.panel {
    height: 200px;
}

.carousel .item {
    height: 450px;
}

.item img {
    align-content: center;
    top: 0;
    min-height: 450px;
}

.font_merri {
    font-family: 'Merriweather Sans', sans-serif;
}

.wf-sawarabigothic {
    font-family: "Sawarabi Gothic";
}

.title-font {
    //font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.italic-font {
    color: #808080;
    font-size: 0.8em;
    font-style: italic;
    float: right;
}

.margin-5px {
    margin: 2.5px;
    word-wrap: break-word;
}

.margin-topbottom-2px {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-flickr:hover {
    background: #FF57AE;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-stack-overflow:hover {
    background: #FEA501;
}

.social .fa-dropbox:hover {
    background: #017FE5;
}

.social .fa-tumblr:hover {
    background: #3a5876;
}

.social .fa-dribbble:hover {
    background: #F46899;
}

.social .fa-skype:hover {
    background: #00C6FF;
}

.social .fa-stack-exchange:hover {
    background: #4D86C9;
}

.social .fa-youtube:hover {
    background: #FF1F25;
}

.social .fa-xing:hover {
    background: #005C5E;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-foursquare:hover {
    background: #09B9E0;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

#main_nav {
    //margin:0;
    //position:fixed;
    //width:100%;
    //z-index:501;
    //height:100px;
    background-color: transparent !important;
    transition: height 0.3s;
    //background-color: transparent;
    transition: background-color 0.3s;
    transition: height 0.3s;
}

#navbarNavDropdown {
    width: 100%;
    top: 0;
}

#header_image {
    position: fixed;
    top: -300px;
    margin-top: 20px;
    left: 50%;
    z-index: 502;
    transform: translateX(-50%);
    transition: top 0.5s;
}

#header_image_image {

    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 767px) {
        width: 125px;
        height: 125px;
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991px) {
        width: 125px;
        height: 125px;
    }

    /* tablets/desktops and up ----------- */
    @media (min-width: 992px) and (max-width: 1199px) {
        width: 175px;
        height: 175px;
    }

    /* large desktops and up ----------- */
    @media screen and (min-width: 1200px) {
        width: 175px;
        height: 175px;
    }

    border: 5px solid #343434
}

.carousel .carousel-item {
    height: 450px;
}

.carousel-item img {
    align-content: center;
    top: 0;
    min-height: 450px;
}

.list_image {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 10px !important;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    //padding:10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
}

.list_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.padding20 {
    padding: 20px !important;
}

.padding-left40 {
    padding-left: 40px !important;
}

#container-header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;

}

.container-header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent !important;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.card.left_side {
    margin-left: -15px;
    padding: 20px;
}

.card.right_side {
    margin-right: -15px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    font-size: 30px;
    opacity: .7;
    font-weight: 600;
}

.hr-text:before {
    content: '';
    background: -webkit-linear-gradient(left, transparent, #343a40, transparent);
    background: linear-gradient(to right, transparent, #343a40, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.0em;
    color: #343a40;
    background-color: #f1f1f1;
}

#main_image {
    //position: absolute;
    //top:50%;
    //left:50%;
    //height: 0;
    padding-top: 50%;
    width: 100%;
    background: url(asset-path('2.jpg')) no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //position:fixed;
}

#main_message {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: -40%;
    background-attachment: fixed;
}

#main_massege_contents {
    z-index: 1;
}

#main_container {
    //position: fixed;
    width: 100%;
    //height: 100vh;
    z-index: 1;
}

.main_contents {
    width: 100%;
    background-color: #ffffff;
    z-index: 3;
}

#top_image {
    padding-top: 15%;
    width: 100%;
    background: url(asset-path('2.jpg')) no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#top_container {
    //position: fixed;
    width: 100%;
    //height: 25vh;
    z-index: 1;
}

#top_message {
    background-color: transparent;
    margin-top: -7%;
}

#main_image_about {
    padding-top: 50%;
    width: 100%;
    //background: url(asset-path('3.jpg')) no-repeat center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#main_image_taglist {
    padding-top: 50%;
    width: 100%;
    background: url(asset-path('3.jpg')) no-repeat center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#main_message_about {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: -45%;
    background-attachment: fixed;
}

#main_message_taglist {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: -45%;
    background-attachment: fixed;
}

#main_message_taglist_title {
    margin-top: -45%;
}

.breadcrumb {
    background-color: #3a5876 !important;
    color: #FFF !important;
    font-weight: 500;
    margin-bottom: 0 !important;
    border-radius: 0 !important;

    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 767px) {
        font-size: 0.75rem;
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 0.75rem;
    }

    /* tablets/desktops and up ----------- */
    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 1rem;
    }

    /* large desktops and up ----------- */
    @media screen and (min-width: 1200px) {
        font-size: 1rem;
    }

    li {
        a {
            color: #FFF !important;
            font-weight: 300;
        }

        a:hover {
            color: #007bff !important;
        }
    }
}

.main_recent_post {
    width: 70%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    color: #FFF;
}

.main_recent_post:hover {
    color: #007bff;
}

.main_recent_post_date {
    width: 20%;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    color: #FFF;
}

.maincard {
    padding: 20px;

    hr {
        border: 0 !important;
        height: 2px;
    }

    a {
        color: #000000 !important;
    }
}

.maincard:hover {
    color: white !important;
    background-color: #343a40;
    transition: background-color 0.3s;

    a {
        color: white !important;
    }

    a:hover {
        text-decoration-line: underline !important;
    }

    div.italic-font {
        color: white !important;
    }

    hr {
        border-color: white !important;
    }
}

.maintag {
    font-weight: 500;
    font-size: 0.85em;
}

.card-title {
    font-weight: 600;
    color: #000000;

}

.card-title:hover {
    text-decoration-line: underline;
}

.main-card-footer {
    background-color: transparent !important;
    padding: 0 !important;
}

.main-card-header {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

.main-card-body {
    padding: 0 !important;
    padding-top: 1rem;
}

.mainContentsTitle h3.tde :after {
    content: "";
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 20px solid rgb(52, 58, 64);
    border-bottom: 0px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    top: 0px;
    right: -20px;
}

.mainContentsTitle h3.tde :before {
    content: "";
    width: 0;
    height: 0;
    border-width: 40px 20px 0px 0px;
    border-style: solid;
    border-color: transparent;
    border-right-color: rgb(52, 58, 64);
    position: absolute;
    top: 0px;
    left: -20px;
}

.mainContentsTitle h3.tde span {
    background: rgb(52, 58, 64);
    padding: 10px 20px 8px 20px;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;

}

.mainContentsTitle h3.tde {
    text-align: center;
    margin: 35px 0;
    border-bottom: 2px solid rgb(52, 58, 64);
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.mainTagName:hover {
    color: #0056b3;
}

.card .box {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.card .box .img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.card .box .img img {
    width: 100%;
    height: 100%;
}

.card .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}

.card .box h2 span {
    font-size: 14px;
    background: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}

.card .box p {
    color: #262626;
}

.card .box span {
    display: inline-flex;
}

.card .box ul {
    margin: 0;
    padding: 0;
}

.card .box ul li {
    list-style: none;
    float: left;
}

.card .box ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

.card .box ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}

/*PEN STYLES*/

* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    margin: 2rem;
}

$color_white: #fff;
$color_prime: #e91e63;
$color_like: #007bff;
$color_grey: #0c0a0a;
$color_grey_dark: #a2a2a2;

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;

    a {
        color: inherit;

        &:hover {
            color: $color_prime;
        }
    }

    &:hover {
        .photo {
            transform: scale(1.3) rotate(3deg);
        }
    }

    .meta {
        position: relative;
        z-index: 0;
        height: 200px;
    }

    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform .2s;
    }

    .details,
    .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(#000, .6);
        color: $color_white;
        padding: 10px;
        width: 100%;
        font-size: .9rem;

        a {
            text-decoration: dotted underline
        }

        ul li {
            display: inline-block;
        }

        .author:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: "\f007";
        }

        .date:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: "\f133";
        }

        .tags {
            ul:before {
                font-family: FontAwesome;
                content: "\f02b";
                margin-right: 10px;
            }

            li {
                margin-right: 2px;

                &:first-child {
                    margin-left: -4px;
                }
            }
        }
    }

    .description {
        padding: 1rem;
        background: $color_white;
        position: relative;
        z-index: 1;


        h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.6rem;
        }

        h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-top: 5px;
        }

        .read-contents {
            min-height: 9rem;
        }

        .read-more {
            text-align: right;

            span {
                float: left;
            }

            a {
                color: $color_prime;
                display: inline-block;
                position: relative;

                &:after {
                    content: "\f061";
                    font-family: FontAwesome;
                    margin-left: -10px;
                    opacity: 0;
                    vertical-align: middle;
                    transition: margin .3s, opacity .3s;
                }

                &:hover:after {
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
    }

    p {
        position: relative;
        margin: 1rem 0 0;

        &:first-of-type {
            margin-top: 1.25rem;

            &:before {
                content: "";
                position: absolute;
                height: 5px;
                background: $color_prime;
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }

    &:hover {
        .details {
            left: 0%;
        }
    }


    @media (min-width: 640px) {
        flex-direction: row;

        .meta {
            flex-basis: 40%;
            height: auto;
        }

        .description {
            flex-basis: 60%;

            &:before {
                transform: skewX(-3deg);
                content: "";
                background: #fff;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
        }

        &.alt {
            flex-direction: row-reverse;

            .description {
                &:before {
                    left: inherit;
                    right: -10px;
                    transform: skew(3deg)
                }
            }

            .details {
                padding-left: 25px;
            }
        }
    }
}

.blog-card-main {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;

    a {
        color: inherit;

        &:hover {
            color: $color_prime;
        }
    }

    &:hover {
        .photo {
            transform: scale(1.3) rotate(3deg);
        }
    }

    .meta {
        position: relative;
        z-index: 0;
        height: 200px;
    }

    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform .2s;
    }

    .details,
    .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(#000, .6);
        color: $color_white;
        padding: 10px;
        width: 100%;
        font-size: .9rem;

        a {
            text-decoration: dotted underline
        }

        ul li {
            display: inline-block;
        }

        .author:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: "\f007";
        }

        .date:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: "\f133";
        }

        .tags {
            ul:before {
                font-family: FontAwesome;
                content: "\f02b";
                margin-right: 10px;
            }

            li {
                margin-right: 2px;

                &:first-child {
                    margin-left: -4px;
                }
            }
        }
    }

    .description {
        padding: 1rem;
        background: $color_white;
        position: relative;
        z-index: 1;

        h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.6rem;
            min-height: 3.5rem;
        }

        h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-top: 5px;
        }

        .read-contents {
            min-height: 4.5rem;
        }

        .read-more {
            text-align: right;

            span {
                float: left;
            }

            a {
                color: $color_prime;
                display: inline-block;
                position: relative;

                &:after {
                    content: "\f061";
                    font-family: FontAwesome;
                    margin-left: -10px;
                    opacity: 0;
                    vertical-align: middle;
                    transition: margin .3s, opacity .3s;
                }

                &:hover:after {
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
    }

    p {
        position: relative;
        margin: 1rem 0 0;

        &:first-of-type {
            margin-top: 1.25rem;

            &:before {
                content: "";
                position: absolute;
                height: 5px;
                background: $color_prime;
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }

    &:hover {
        .details {
            left: 0%;
        }
    }
}

.blog-card-main-like {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;

    a {
        color: inherit;

        &:hover {
            color: $color_like;
        }
    }

    &:hover {
        .photo {
            transform: scale(1.3) rotate(3deg);
        }
    }

    .meta {
        position: relative;
        z-index: 0;
        height: 150px;
    }

    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform .2s;
    }

    .details,
    .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(#000, .6);
        color: $color_white;
        padding: 10px;
        width: 100%;
        font-size: .9rem;

        a {
            text-decoration: dotted underline
        }

        ul li {
            display: inline-block;
        }

        .author:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: "\f007";
        }

        .date:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: "\f133";
        }

        .tags {
            ul:before {
                font-family: FontAwesome;
                content: "\f02b";
                margin-right: 10px;
            }

            li {
                margin-right: 2px;

                &:first-child {
                    margin-left: -4px;
                }
            }
        }
    }

    .description {
        padding: 1rem;
        background: $color_white;
        position: relative;
        z-index: 1;

        h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.5rem;
            min-height: 3.5rem;
        }

        h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-top: 5px;
        }

        .read-contents {
            min-height: 4.5rem;
        }

        .read-more {
            text-align: right;

            span {
                float: left;
            }

            a {
                color: $color_like;
                display: inline-block;
                position: relative;

                &:after {
                    content: "\f061";
                    font-family: FontAwesome;
                    margin-left: -10px;
                    opacity: 0;
                    vertical-align: middle;
                    transition: margin .3s, opacity .3s;
                }

                &:hover:after {
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
    }

    p {
        position: relative;
        margin: 1rem 0 0;

        &:first-of-type {
            margin-top: 1.25rem;

            &:before {
                content: "";
                position: absolute;
                height: 5px;
                background: $color_like;
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }

    &:hover {
        .details {
            left: 0%;
        }
    }
}

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 35px 0px 25px 0px;
}

.pt2 {
    margin-bottom: 20px;
}

.footer_title {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}
.main-nav .nav-link{
    font-size:0.8rem;
}
.blog_intro p{
    font-size: 1rem;
}
blockquote {
    border-left: 5px solid #EC5538;
    border-bottom: 1px solid #EC5538;
    background: white;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
}
pre{
    font-size:1rem;
}