// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

#main_title {
    width:100%;
    margin:0;
}
#footer {
    width:100%;
    position: relative;
    margin-bottom : -19px;
    background-color: gray;
    bottom: 0;
}

#title {
    width:100%;
    margin:-19px;
    margin-left : 0px;
    margin-right: 0px;
    padding: 0;
    padding-top:19px;
    border:0;
}
#menu_slide{
    float:right;
    height:100%;
    width:auto;
    position: relative;
    margin:2px;
    margin-bottom: 4px;
}
.menu_hr{
    border:1px solid #666;
}
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 25px 0;
    text-align: center;
    display: block;
    border-radius: 10px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}
.panel{
    height: 200px;
}
.carousel .item {
    height: 450px;
}
  
.item img {
    align-content: center;
    top: 0;
    min-height: 450px;
}
.font_merri{
    font-family: 'Merriweather Sans', sans-serif;
}
.wf-sawarabigothic { font-family: "Sawarabi Gothic"; }
