    <div class="container" id="mainAboutus">
        <div class='mainContentsTitle'>
          <h3 class="tde">         
            <span>About Us</span>         
          </h3>
        </div>       
        <div id="main_image_about" class="text-white text-center">
          <div class="row"  id="main_message_about">
            <div class="col-xl-9 mx-auto">
                  <div class="row">
                    <div class="col-sm-6">
                      <%=image_tag("Kim_Dongjin.png", class:"rounded-circle", id:"header_image_image")%>
                      <p>名前：金　東珍 (KIM DOMGJIN)</p>
                    </div>          
                    <div class="col-sm-6">
                      <%=image_tag("hello_170924.png", class:"rounded-circle", id:"header_image_image")%>
                      <p>名前：張　侑民 (JANG YUMIN)</p>
                    </div>   
                </div>               
            </div>        
          </div>
          <br>
          <br>
        </div>
   </div>