<div id="main_container">
  <div id="main_image_about" class="text-white text-center">
    <div class="container" id="main_message_about">
          <br>
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <hr class="hr-text" data-content="About Us" id="aboutUs">
                <div style="width:100%;">   
                    <center>
                        <%=image_tag("hello_170924.png", class:"rounded-circle", id:"header_image_image")%>
                        <p>名前：張　侑民 (JANG YUMIN)</p>
                        <p>취미:뻉뻉이</p>
                        <p>특기：뻉뻉이</p>
                        <p>별명:돼지</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </center>
                </div>
            </div>        
          </div>
          <br>
          <br>
        </div>
  </div>
</div>