<header class="masthead" style="background-image: url('/assets/post_header.jpg')">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                    <h1><%=@title%></h1>
                    <h2 class="subheading"><%=@subTitle%></h2>
                    <span class="meta"><%=@date%></span>
                </div>
            </div>
        </div>
    </div>
</header>


