<!-- フッダ部 -->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-12">
        <h5 class="headin5_amrc col_white_amrc" style="font-size:24px"><span style="color:#EC5538;">R</span>esent Post</h5>
        <% @boards_resent.each do |board| %>
          <%= link_to(board_path(board.id)) do %>
            <p style="margin:0;font-size:16px"><i class="fa fa-angle-double-right"></i><%= truncate(board.title, length: 40) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <p class="text-center" id="copyright">Copyright &copy;2019 | Pig&Boar blog</p>
</footer>