<div id="headimage-result">
    <!-- イメージを表示する。 -->
    <header class="masthead head-result">
      <div id="masthead-image-rusult"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-heading" style="padding: 200px 0;">
              <span class="result-heading"><%= @title %></span>
            </div>
          </div>
        </div>
    </div>
</header>
</div>